body {
    font-family: Tahoma, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    font-family: Garamond, Georgia, 'Times New Roman', Times, serif;
    background-color: #264653;
    color: #e76f51;
    padding: 10px 0;
    text-align: center;
    position: relative;
}

header::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
}

h1, h2 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
}

.container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 10px;
}

.box {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 20px;
    width: 70%; 
    max-width: 600px;
}

.yellow {
    background-color: #e9c46a;
}

.green {
    background-color: #2a9d8f;
}

.course {
    text-align: center;
    border: 5px solid #264653;
    border-radius: 7px;
    padding: 15px;
    margin-bottom: 10px;
}

.course img {
    width: 100%;
    max-width: 380px;
    border-radius: 3px;
}

footer {
    background-color: #264653;
    color: #e76f51;
    padding: 20px 15px;
    text-align: center;
}

p, ul {
    text-align: justify;
}

@media only screen and (min-width: 768px) {
  .box {
    width: 50%;
  }
}
